<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
        text-align:center;

        }
        h4 {color:#DB7093;}
        p {color:#8B8989;}


    </style>
</head>
<body>
<h3 >This is a unique dialogue riddle contest consisting of a total of 3 questions,<br>
    please use your imagination to answer</h3>
<h4 >😊 😊 😊 QUESTION 2：</h4>
<h4>How do we count cows? 🐮 🐮 🐮 </h4>
<p>hint: think about [count] and [cows]</p>
<p>Tips: You'll need to write your answers on the web page to move on to the next round
 </p>
<!--<a href="jump">下一题</a>>-->

</body>
</html>